@use "./variables";


@mixin color($color){
    background-color: $color;
} 

@mixin change_font_size($font) {
    font-size: $font;
}

@mixin fonten_for_text($fonten){
    font-family: $fonten;
}
@mixin text_color($textcolor){
    text-decoration-color: $textcolor;//försökte ändra färgen på texten men vet inte vad jag ska använda istället för text-decoration-color
}