/*istället för att ändra färger och storlekar i master dokumentet används variabler så man enkelt kan byta*/
$leaf_color : lightgreen;
$super_large: 50px;
$fonten: "comic sans ms";
$textcolor: black;
$quiteSmall: 25px;
$light: white;
